/* App.css */
.App {
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 30px; /* Aumenta el espacio debajo del título */
}

.form-row {
  display: flex;
  justify-content: space-between; /* Distribuye el espacio entre los elementos */
  margin-bottom: 30px; /* Aumenta el espacio entre filas de formulario */
}

.form-group {
  display: flex;
  flex-direction: column; /* Coloca la etiqueta encima del campo de entrada */
  width: 30%; /* Ajusta el ancho para que haya más espacio entre los grupos */
  margin-bottom: 25px; /* Aumenta el espacio entre grupos de formulario */
}

.form-group:not(:last-child) {
  margin-right: 40px; /* Añade separación adicional entre los grupos, excepto el último */
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
  padding: 8px;
  border-radius: 40px;
  box-shadow: #000;
  width: 95%; /* Asegura que el input ocupe todo el ancho del contenedor */
}

.radio-group {
  display: flex;
  gap: 10px;
  align-items: center; /* Alinea los elementos en el centro verticalmente */
}

.radio-group input[type="radio"] {
  width: auto;
}

.radio-group label {
  font-weight: normal;
  margin-right: 10px;
}

/* Espaciado adicional para secciones del formulario */
.form-section {
  margin-bottom: 40px; /* Aumenta el espacio entre secciones */
}

/* Asegura que los inputs y radio buttons se alineen bien en una fila */
.form-row .form-group {
  width: 45%; /* Ajusta el ancho para que los campos se alineen en una sola línea */
}
