.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, sans-serif;
}

.content-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.graficas-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
  /* Ocupa el 50% del espacio */
  margin-right: 20px;
  /* Espacio entre gráficas y electrodos */
}

.electrodos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  margin-right: 20px;
}

.estado-section {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.progreso-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 60px;
}

.progreso-texto {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 50px;
}


.estado-section {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.imagen-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
}

.imagen-estomago {
  width: 250px;
  align-items: end;
}

.extra-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.controles-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 40px;
}

.mediciones-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.medicion-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.texto-medicion {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 2px;
}

.icon-button.check-in {
  background-color: #02542D;
  color: #ffffff;
  size: 40px;
}

.icon-button.settings {
  background-color: #1D2D7D;
  color: #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Contenedor para organizar los contadores en fila */
.contadores-container {
  display: flex;
  justify-content: center;
  gap: 150px; /* Espacio aumentado entre los contadores */
  margin-top: 20px;
}

/* Estilos para cada contador */
.contador-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0; /* Fondo gris claro */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad */
}

.contador-section h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

.contador-section button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contador-section button:hover {
  background-color: #0056b3;
}

.cuestionario-button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.cuestionario-button-container button {
  background-color: #4CAF50; /* Verde */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cuestionario-button-container button:hover {
  background-color: #45a049; /* Verde oscuro */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}